<header class="app-header">
  <div class="header-left">
    <div class="logo">Rajesh <span>Toyota</span> Reports</div>
  </div>
  <div class="header-right">
    <span class="user-greeting" id="user-greeting"><%= userDisplayName ? `Hi, ${userDisplayName}` : '' %></span>
    <a href="/auth/logout" class="btn-logout">Sign Out</a>
  </div>
</header>
