<% if (showYearTabs) { %>
  <div class="year-bar">
    <div class="year-tabs" id="year-tabs">
      <button class="year-tab" data-year="2025">2025</button>
      <button class="year-tab" data-year="2026">2026</button>
      <button class="year-tab" data-year="2027">2027</button>
    </div>
  </div>
<% } %>
